.profile-stats {
  color: #fff;
  background-color: #1e1e1e00;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 3px;
  padding-right: 48px;
  font-family: Inter, Arial;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 29px;
  display: flex;
}

.num-10 {
  margin-bottom: 1px;
  font-size: 2rem;
  line-height: 39px;
}

.statuses {
  margin-top: 2px;
}

.num-500 {
  margin-bottom: 1px;
  margin-left: 19px;
  font-size: 2rem;
  line-height: 39px;
}

.views {
  margin-top: 2px;
  margin-left: 10px;
}
