
.nav{
    display: flex;
    justify-content: space-between;
    background-color: #202123;
    padding: 8px;
}

.logo{
    color: white;
    padding: 14px;
    padding-right: 5rem;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
}

.navItems{
    margin-top: 16px;
}
.navItems a{
   color: white;
   padding-right: 2rem;
   text-decoration: none;
   font-weight: 600;
}

.navItems a:hover{
  color: gray;
}
.navItems a:active{
  color: gray;
}